/* შექმენი დივი რომელშიც იქნება ერთი h1 თეგი, ერთი პარაგრაფი, და ერთი დაულაგებელი ცხრილი, 
გასტილე დივი inline css-ის გამოყენებით, გასტილე h1 id-ის გამოყენებით external css-ში, პარაგრაფის 
გასასტილად გამოიყენე კლასები, ხოლოდ დაულაგებელი ცხრილის გასასტილად tag selectorი, სტილები შენით მოიფიქრე 
არ აქვს მნიშვნელობა */


/* h1 სტილი id selector-ით */
#title {
    color: darkred;
    text-align: center;
    font-size: 32px;
}

/* პარაგრაფის სტილი class selector-ით */
.paragraph {
    font-size: 18px;
    color: #333;
}

/* დაულაგებელი ცხრილის სტილი tag selector-ით */
ul {
    color: darkblue;
}
