


#firsth1{
    color: red;
    font: size 50px; ;
}
#firsth2{
    color: green;
    font: size 25px; ;
}
#firsth3{
    color: yellow;
    font: size 40px; ;
}
#firsth4{
    color: purple;
    font: size 30px; ;
}
#firsth5{
    color: black;
    font: size 10px; ;
}