h1{
    color: black;
    background-color: bisque;
    font-size: 40px;
    text-align: center;
    border: 3px solid red;
    }
p{
    color: beige;
    background-color: black;
    font-size: 20px;
    text-align: center
    }
button{
    color: rgb(188, 136, 136);
    background-color: red;
        text-align: center;
        font-size: 40px;
        border: 2px solid black;         
        }
