/* =========================================================
1) RGB - Red, Green, Blue
RGB არის ფერის მოდელი რომელიც შედგება:
Red, Green, Blue.

თითოეული ფერი იღებს მნიშვნელობას 0-255.
0 = საერთოდ არ არის ფერი
255 = მაქსიმალური ინტენსივობა

ფორმატი: rgb(red, green, blue)
მაგ: rgb(255,0,0)

ვისწავლეთ:
- rgb()
- 0-255 მნიშვნელობები
- ფერის შერევა
========================================================= */


/* =========================================================
2) HEX - Hexadecimal ფერის კოდი
ფორმატი: #RRGGBB
RR = Red
GG = Green
BB = Blue

მნიშვნელობები: 00 - FF
00 = 0
FF = 255

ვისწავლეთ:
- იწყება #
- იყენებს 0-9 და A-F
- 6 სიმბოლო
========================================================= */


/* =========================================================
4) RGB div-ები (ID selector)
========================================================= */

#div1 {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0);
}

#div2 {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 0);
}

#div3 {
    width: 200px;
    height: 200px;
    background-color: rgb(0, 0, 255);
}


/* =========================================================
6) RGB → HEX გადაყვანა

rgb(255, 0, 0) --> #FF0000
rgb(0, 128, 0) --> #008000
rgb(0, 0, 0) --> #000000
========================================================= */


/* =========================================================
7) HEX div-ები (CLASS selector)
========================================================= */

.box {
    width: 200px;
    height: 200px;
}

.red {
    background-color: #FF0000;
}

.green {
    background-color: #00FF00;
}

.blue {
    background-color: #0000FF;
}


/* =========================================================
8) რატომ არის % უკეთესი ვიდრე px?

% დამოკიდებულია მშობელ ელემენტზე და არის responsive.
px არის ფიქსირებული ზომა და ეკრანის ზომაზე არ იცვლება.
========================================================= */


/* =========================================================
9) Parent და img
========================================================= */

.parent {
    height: 400px;
    width: 50%;
    background-color: red;
}

.parent img {
    height: 100%;
}

/*
parent სიმაღლე = 400px
img height:40% ნიშნავს parent-ის 40%-ს

400px-ის 40% = 160px
ფოტო გახდება დაახლოებით 160px სიმაღლის
*/